* {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
}
img {
  width: 20px;
}
img svg{
  color: #09ab8b;
}
.title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Lobster;
  font-size: 60px;
  /* text-transform: lowercase; */
}
.accordion {
  width: 95%;
  max-width: 1140px;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4, h5, h6 {
  cursor: pointer;
}
.accordion h2, h3, h4, h5, h6 {
  font-family: "News Cycle";
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #e1eafa;
  font-family: Lobster;
  font-size: 1.5rem;
  font-weight: normal;
  color: #052f4b;
}
.accordion h1:nth-child(4n-1) {
  background-color: #d0dcf1;
}
.accordion h1:hover {
  /* color: #4afcdc; */
  background-color: #b8c0cc;
}

.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 30px;
  background-color: #f5e9d5;
  font-size: 1.1rem;
  color: #2b1f12;
}
.accordion h2:nth-child(4n-1) {
  background-color: #f0dbba;
}
.accordion h2:hover {
  background-color: #d3c2a6;
}
.accordion h3 {
  padding: 5px 40px;
  background-color: #e1eafa;
  font-size: .9rem;
  color: #052f4b; 
}
.accordion h3:nth-child(4n-1) {
  background-color: #d0dcf1;
}
.accordion h3:hover {
  background-color: #b8c0cc;
}
.accordion h4 {
  padding: 5px 50px;
  background-color: #f5e9d5;
  font-size: .9rem;
  color: #2b1f12;
}
.accordion h4:nth-child(4n-1) {
  background-color: #f0dbba;
}
.accordion h4:hover {
  background-color: #d3c2a6;
}
.accordion h5 {
  padding: 5px 60px;
  background-color: #e1eafa;
  font-size: .9rem;
  color: #052f4b;
}
.accordion h5:nth-child(4n-1) {
  background-color: #d0dcf1;
}
.accordion h5:hover {
  background-color: #b8c0cc;
}
.accordion h6 {
  padding: 5px 70px;
  background-color: #f5e9d5;
  font-size: .9rem;
  color: #2b1f12; 
}
.accordion h6:nth-child(4n-1) {
  background-color: #f0dbba;
}
.accordion h6:hover {
  background-color: #d3c2a6;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  /* font-family: "Georgia"; */
  font-family: sans-serif;
  font-size: 1.0rem;
  color: #000;
  line-height: 1.2rem;
}
.accordion .opened-for-codepen {
  display: block;
}